n8n_schemas/Kafka_createOrder.json
{
  "name": "Kafka createOrder",
  "nodes": [
    {
      "parameters": {
        "topic": "createOrder",
        "groupId": "n8n-kafka",
        "options": {
          "jsonParseMessage": true
        }
      },
      "name": "Kafka Trigger",
      "type": "n8n-nodes-base.kafkaTrigger",
      "position": [
        80,
        120
      ],
      "typeVersion": 1,
      "id": "e505e2aa-2225-4454-9428-93f8efb05cd2",
      "credentials": {
        "kafka": {
          "id": "yTqn4BweKisR9hdE",
          "name": "Kafka account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5854450473",
        "text": "=Cześć, \nwłaśnie dodałem zgłoszenie na naprawę {{ $json.message.CarMake }} {{ $json.message.CarModel }} z {{ $json.message.Year }}. Poniżej zamieszczam opis problemu:{{ $json.message.Description }}\nKontakt: {{ $json.message.email }}",
        "additionalFields": {}
      },
      "id": "d7ef0c60-0aab-479d-a158-cb7f8945dd09",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        780,
        60
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "BtEHPLWnGyTWB5hg",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "topic": "={{ $('Kafka Trigger').item.json.topic +'SendConfirmation'}}",
        "options": {}
      },
      "id": "16ebc97c-74c7-4ad4-b66b-03dd61feea5f",
      "name": "Kafka",
      "type": "n8n-nodes-base.kafka",
      "typeVersion": 1,
      "position": [
        1420,
        160
      ],
      "credentials": {
        "kafka": {
          "id": "yTqn4BweKisR9hdE",
          "name": "Kafka account"
        }
      }
    },
    {
      "parameters": {
        "from": "n8n",
        "to": "=+48695522001",
        "message": "=Cześć, \nwłaśnie dodałem zgłoszenie na naprawę {{ $json.message.CarMake }} {{ $json.message.CarModel }} z {{ $json.message.Year }}. Poniżej zamieszczam opis problemu:{{ $json.message.Description }}\nKontakt: {{ $json.message.email }}",
        "additionalFields": {}
      },
      "id": "ffca5f82-fda9-4ce1-ac9e-5034044b29df",
      "name": "Vonage",
      "type": "n8n-nodes-base.vonage",
      "typeVersion": 1,
      "position": [
        780,
        -100
      ],
      "credentials": {
        "vonageApi": {
          "id": "XwMIAaWIwz4Oxxbc",
          "name": "Vonage account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "jasiekdrabek@gmail.com",
        "toEmail": "={{ $json.message.WorkshopEmailList.split(',').last().replace(']','');}}",
        "subject": "={{ $json.topic }}",
        "html": "=Cześć, \nwłaśnie dodałem zgłoszenie na naprawę {{ $json.message.CarMake }} {{ $json.message.CarModel }} z {{ $json.message.Year }}. Poniżej zamieszczam opis problemu:{{ $json.message.Description }}",
        "additionalFields": {}
      },
      "id": "88a62fc3-0a3a-47f3-85bd-100d58a8f0f3",
      "name": "Mailjet",
      "type": "n8n-nodes-base.mailjet",
      "typeVersion": 1,
      "position": [
        780,
        280
      ],
      "credentials": {
        "mailjetEmailApi": {
          "id": "uDxr4Ad1hmgNsMVx",
          "name": "Mailjet Email account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Kafka Trigger": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mailjet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Kafka",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailjet": {
      "main": [
        [
          {
            "node": "Kafka",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vonage": {
      "main": [
        [
          {
            "node": "Kafka",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7e8ffdce-6acf-4cb6-a75b-7fb114d6cf76",
  "meta": {
    "templateId": "814",
    "templateCredsSetupCompleted": true,
    "instanceId": "02f7992ce6e9820f734160535632dfcfe33066913881d04c692c3bb53190023e"
  },
  "id": "togpYji8eorplMqA",
  "tags": []
}